.hitide-table {
    border: 1px solid gray;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    cursor: default;
    overflow-y: scroll;
    scrollbar-color: #999 #ccc;
    min-height: 100px;
}

.hitide-table__row {
    display: flex;
    align-items: center;
    padding: 3px;
    background-color: white;
    border-bottom: 1px solid lightgray;
}

.hitide-table__row > * {
    margin: 0 3px;
}

.hitide-table__header {
    background-color: lightblue;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
}

.hitide-table__row--selected {
    background-color: rgb(238, 238, 238);
}
